    h1 {text-align: center; color: black; font-family: Verdana, Geneva, Tahoma, sans-serif;}
    #title {color: rgb(180, 1, 1); background-color: black; font-family: Georgia;}
    h2 {font-family: Georgia; font-size: 20px;}
    p {font-family: Verdana; margin-left: 30px; margin-right: 40px; 
        text-align: justify;}
    body {margin:  40px;}
    #last_word {color: rgb(180, 1, 1); font-family: Georgia; font: 1em;}
    #first_word {letter-spacing: 3px; font-family: Verdana; font-size: 0.9em;}
    h4 {font-family: Verdana; text-align: right;}
    a {font-family: Verdana; margin-left: 30px; margin-right: 40px; 
        text-align: justify;}
        /* This page is designed to look like the Notorious BIG's album, "Ready to Die" */