
/* below is dark mode */
.dark-mode {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
  }
  .dark-mode h1 {
    color: whitesmoke;
  }
  .dark-mode #title {
    color: black;
    background-color: rgb(180, 1, 1);
  }
  .dark-mode a:hover {
    background-color: whitesmoke;
  }
  .dark-mode a:hover #sitemap_universal {
    background-color: none;
  }
  .dark-mode hr {
    color: whitesmoke;
    border-color: whitesmoke;
  }
  
  .dark-mode  #smbreaker {
      color: rgb(77, 77, 77);
      border: rgb(77, 77, 77) solid 1px;
  }
  
  .dark-mode .card {
    background-color: rgb(22, 22, 22);
    box-shadow: 0 4px 8px 0 rgb(77, 77, 74);
  }
  .dark-mode .card:hover {
    box-shadow: 0 8px 16px 0 rgb(77, 77, 70);
  }
  .dark-mode .container {
    padding: 2px 16px;
  }
  .dark-mode h3 {
    color: rgb(180, 1, 1);
  }
  .dark-mode .review {
    background-color: rgb(22, 22, 22);
    box-shadow: 0 4px 8px 0 rgb(77, 77, 76);
  }
  .dark-mode .review:hover {
    box-shadow: 0 8px 16px 0 rgb(77, 77, 77);
  }
  .dark-mode label {
    color: whitesmoke;
  }
  .dark-mode p {
    color: whitesmoke;
  }
  .dark-mode td {
    color: black;
  }
  
  .dark-mode ::selection {
    background-color: rgba(180, 1, 1, 0.404);
  }