    /* This page is designed to look like the Notorious BIG's album, "Ready to Die" */
    hr {background-color: black; height: 2px;}
    h1 {text-align: center; color: black; font-family: Verdana, Geneva, Tahoma, sans-serif;}
    #title {color: rgb(180, 1, 1); background-color: black; font-family: Georgia;}
    h2 {font-family: Georgia; font-size: 20px;}
    p {font-family: Verdana; margin-left: 30px; margin-right: 60px; 
        text-align: justify;}
    body {margin:  40px;}
    #last_word {color: rgb(180, 1, 1); font-family: Georgia; font: 1em;}
    #first_word {letter-spacing: 3px; font-family: Verdana; font-size: 0.9em;}
    h4 {font-family: Verdana; text-align: right; margin-right: 60px;}
    a {color: rgb(180, 1, 1); text-decoration: none;}
    a:hover {background-color: black; color: rgb(180, 1, 1); text-decoration: none;}
    .dark-mode {background-color: rgb(0, 0, 0); color: rgb(230, 230, 230);}
    .dark-mode>h1 {color: rgb(230, 230, 230);}
    .dark-mode #title {color: black; background-color: rgb(180, 1, 1);}
    .dark-mode a:hover {background-color: whitesmoke;}
    .dark-mode hr {color: rgb(230, 230, 230);}
    button {margin-left: 97%; margin-right: 3%; background-color: rgb(180,1,1); 
        color: black; font-family: Georgia; font-weight: bold;}
    button:hover {background-color: rgb(32, 32, 32);}
    #fixedbutton {position: fixed; bottom: 10px; right: 0px;}
    nav ul {list-style-type: none; margin: 0; padding: 0;}
    nav li {display: inline-block;}